[mysqld]
mysql_native_password=on
authentication_policy=mysql_native_password
max_allowed_packet=524288000

slow_query_log=1
slow_query_log_file='/tmp/slow.log'
long_query_time=0.5

innodb_log_file_size = 5242880000
innodb_log_files_in_group = 2